.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 300px;
    margin-inline: auto;
    height: 85%;
    gap: 1rem;
}

.text {
    text-align: center;
    flex-grow: 0;

    & .title {
        font-size: 69px;
    }
}

.search {
    display: flex;
    align-items: center;
    height: 46px;
    min-width: 300px;
    max-width: 500px;
    width: 90%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

    &:focus-within {
        outline: 1px solid #dfe1e5;
    }

    & input {
        width: 100%;
        padding: 10px 0;
        padding-left: 14px;
        border: none;
        border-radius: 24px;

        &:focus {
            outline: none;
        }
    }

    & button {
        border: none;
        height: 100%;
        background-color: inherit;
        border-radius: 24px;
        padding: 0;
        padding-inline: 0 13px;
        cursor: pointer;
    }
}

.loader {
    width: 48px;
    height: 48px;
    position: relative;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48em;
    height: 48em;
    background-image:
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0),
        radial-gradient(circle 10px, #FFF 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
        13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
}

.loader::after {
    font-size: 1px;
    background: #fff;
    animation: bounce 1s ease-in infinite;
}

@keyframes bounce {

    0%,
    100% {
        font-size: 0.75px
    }

    50% {
        font-size: 1.5px
    }
}

@keyframes blast {

    0%,
    40% {
        font-size: 0.5px;
    }

    70% {
        opacity: 1;
        font-size: 4px;
    }

    100% {
        font-size: 6px;
        opacity: 0;
    }
}