.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1500px;
    min-width: 300px;
    margin-inline: auto;
    height: 100%;
    gap: 1rem;
    transition: gap 0.5s ease;
}

.text {
    text-align: center;
    flex-grow: 0;
}

.text .title {
    font-size: 69px;
}

.search {
    display: flex;
    align-items: center;
    height: 46px;
    min-width: 300px;
    max-width: 500px;
    width: 90%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    margin-bottom: 4rem;
}

.search:focus-within {
    outline: 1px solid #dfe1e5;
}

.search:has(:disabled) {
    background-color: #efefef4d;
    cursor: not-allowed;
}

.search input {
    width: 100%;
    padding: 10px 0;
    padding-left: 14px;
    border: none;
    border-radius: 24px;
    background-color: transparent;
}

.search input:focus {
    outline: none;
}

.search input:disabled {
    cursor: not-allowed;
}

.search button {
    border: none;
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    padding: 0;
    padding-inline: 0 15px;
    cursor: pointer;
}

.search button:focus {
    outline: none;
}

.search button:disabled {
    cursor: not-allowed;
}

.loader {
    width: 48px;
    height: 48px;
    position: relative;
}

.loader::before,
.loader::after {
    content: '';
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 48em;
    height: 48em;
    background-image:
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0),
        radial-gradient(circle 10px, #000 100%, transparent 0);
    background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em,
        13em -13em, -13em -13em, 13em 13em, -13em 13em;
    background-repeat: no-repeat;
    font-size: 0.5px;
    border-radius: 50%;
    animation: blast 1s ease-in infinite;
}

.loader::after {
    font-size: 1px;
    background: #000;
    animation: bounce 1s ease-in infinite;
}

@keyframes bounce {

    0%,
    100% {
        font-size: 0.75px
    }

    50% {
        font-size: 1.5px
    }
}

@keyframes blast {

    0%,
    40% {
        font-size: 0.5px;
    }

    70% {
        opacity: 1;
        font-size: 4px;
    }

    100% {
        font-size: 6px;
        opacity: 0;
    }
}

.weather-div {
    display: grid;
    grid-template-columns: 150px 1fr;
    width: 100%;
    gap: 1rem 0;
    padding-inline: 0.5rem;
}

.location-time-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 5rem;
    text-align: center;
    grid-column: span 2;
    grid-row: 1;
}

.location-time-div .main {
    height: 55px;
    font-size: 50px;
}

.location-time-div .sub {
    font-size: 24px;
}

.location-time-div .time {
    font-size: 20px;
}

.weather-div .icon {
    width: 100px;
    grid-row: 2;
    align-self: center;
    justify-self: end;
    margin-right: 1rem;
}

.temp-scale-div {
    display: flex;
    grid-column: span 2;
    grid-row: 2;
    align-self: center;
}

.temp-scale-div .temp-div {
    display: flex;
    font-size: 45px;
}

.temp-div h2:not(.active) {
    display: none;
}

.temp-scale-div .scale-div {
    color: #696969;
    display: flex;
    align-items: center;
}

.scale-div button {
    flex-grow: 0;
    border: none;
    font-size: 24px;
    background-color: transparent;
    color: inherit;
    cursor: pointer;
    padding: 3px;
}

.scale-div .active {
    font-weight: bold;
    color: #000;
}

.condition-desc-div {
    text-align: center;
    grid-column: span 2;
}

.condition-desc-div .condition {
    font-size: 24px;
}

.condition-desc-div .description {
    font-size: 18px;
}

.carousel-div {
    width: 95%;
    flex-grow: 0;
    grid-column: span 2;
    justify-self: center;
    overflow: hidden;
}

.slides-div {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    height: 270px;
}

.slides-div::-webkit-scrollbar {
    display: none;
}

.slides-div>div {
    scroll-snap-align: start;
    flex-shrink: 0;
    position: relative;
    width: 100%;
    margin-inline: 1rem;
}

.slides-div .weather-properties-div {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(2, 1fr);
    place-items: center;
    text-align: center;
    overflow-y: hidden;
    margin-top: 8px;
    gap: 0 12px;
}

.weather-properties-div .square-div:nth-child(1) {
    justify-self: end;
}

.weather-properties-div .square-div:nth-child(2) {
    justify-self: start;
}

.weather-properties-div .square-div:nth-child(3) {
    justify-self: end;
}

.weather-properties-div .square-div:nth-child(4) {
    justify-self: start;
}

.weather-properties-div .square-div {
    width: 130px;
    height: 120px;
    background-color: #DFE1E5;
    border-radius: 24px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
}

.square-div .square-content,
.square-content span {
    display: flex;
    justify-content: center;
    font-size: 32px;
}

.square-div .square-title {
    font-size: 16px;
}

.square-content {
    margin-top: 5px;
}

.square-content span:not(.active) {
    display: none;
}

.square-content i {
    font-style: normal;
    font-size: 20px;
}

.daily-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    overflow-y: scroll;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
}

.daily-div::-webkit-scrollbar {
    height: 10px;
    width: 5px;
}

.daily-div::-webkit-scrollbar-thumb {
    background: #696969;
    border-radius: 10px;
}

.daily-div::-webkit-scrollbar-track {
    background: transparent;
}

.daily-div .day-div {
    scroll-snap-align: start;
    height: 75px;
    display: flex;
    padding: 1rem;
    align-items: center;
    background-color: #DFE1E5;
    border-radius: 24px;
    text-align: center;
}

.day-div>* {
    width: 105px;
}

.day-div .day-icon {
    height: 55px;
}

.day-div .day-temp-div {
    display: flex;
    flex-direction: column;
    font-size: 18px;
}

.day-temp-div span:not(.active) {
    display: none;
}

.day-temp-div i {
    font-style: normal;
}

.max-temp {
    font-weight: bold;
}

.indicator-div {
    margin-top: 5px;
    display: flex;
    justify-content: center;
    gap: 8px;
    height: 15px;
}

.indicator-div .dot-div {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #e5e5e5;
}

.dot-div.active {
    background-color: #666666;
}

@media (width > 320px) {
    .weather-div {
        grid-template-columns: 1fr 1fr;
    }
}

@media (height >=800px) {
    .weather-div {
        height: 900px;
        gap: 3rem 0;
    }
}

@media (width >=800px) {
    .weather-div {
        gap: 0;
    }

    .location-time-div {
        grid-column: 2;
        text-align: right;
        padding-right: calc(1rem + 2vw);
    }

    .temp-scale-div {
        grid-column: 1;
        grid-row: 1;
        padding-top: 5rem;
        padding-left: calc(2rem + 2vw);
    }

    .temp-scale-div .temp-div {
        display: flex;
        font-size: 60px;
    }

    .weather-div .icon {
        width: 300px;
        grid-column: span 2;
        justify-self: center;
    }

    .condition-desc-div {
        padding-top: 8px;
    }

    .condition-desc-div .condition {
        font-size: 30px;
    }

    .condition-desc-div .description {
        font-size: 22px;
    }

    .slides-div {
        height: 200px;
    }

    .slides-div .weather-properties-div {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .weather-properties-div .square-div {
        width: 150px;
    }

    .square-div .square-title {
        font-size: 18px;
    }

    .daily-div {
        margin-top: 1rem;
        flex-direction: row;
        overflow-y: none;
        overflow-x: scroll;
        scroll-snap-type: x mandatory;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
    }

    .daily-div::-webkit-scrollbar {
        height: 5px;
        width: 5px;
    }
}


@media (width >=1200px) {
    .weather-properties-div .square-div {
        flex-direction: row;
        width: 250px;
        height: 75px;
        align-items: center;
        justify-content: space-around;
    }

    .square-content {
        margin: 0;
    }

    .daily-div .day-div {
        width: 150px;
        height: 150px;
        flex-direction: column;
        justify-content: space-between;
    }

    .day-div .day-temp-div {
        flex-direction: row;
        justify-content: space-around;
    }
}

@media (width >=1320px) {
    .weather-properties-div .square-div {
        width: 300px;
    }

    .daily-div {
        justify-content: center;
    }
}