.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1500px;
    min-width: 300px;
    margin-inline: auto;
    padding-top: 185px;
}

.text {
    text-align: center;
    margin-bottom: 1rem;
    flex-grow: 0;

    & .title {
        font-size: 69px;
    }
}

.search {
    display: flex;
    align-items: center;
    height: 46px;
    min-width: 300px;
    max-width: 500px;
    width: 100%;
    border: 1px solid #dfe1e5;
    border-radius: 24px;

    &:focus-within {
        outline: 1px solid #dfe1e5;
    }

    & input {
        width: 100%;
        padding: 10px 0;
        padding-left: 14px;
        border: none;
        border-radius: 24px;

        &:focus {
            outline: none;
        }
    }

    & button {
        border: none;
        height: 100%;
        background-color: inherit;
        border-radius: 24px;
        padding: 0;
        padding-inline: 0 13px;
        cursor: pointer;
    }
}